@charset "UTF-8";



*{
    margin: 0;
    padding: 0;
  
}

#page{
    max-width: 1300px;
    margin: 0 auto;
}

.nav{
    width: 100%;
    position: fixed;
    background-color: rgba(0, 255, 98, .8);
    padding: 20px;
    z-index: 2;

}

.toggle{
    background-image: url("img/menu-toggle.png");
    background-size: cover;
    width: 47px;
    height: 47px;
    position: absolute;
    top:28px;
    right: 70px;
    visibility: hidden;
    cursor:pointer;
}

.toggle:active{
    transform: scale(.9);
}

.nav #content{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
}

@font-face{
    font-family: "Letra-encabezado";
    src:url("fonts/VT323-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.nav h1{
    float: left;
    font-family: "Letra-encabezado", sans-serif;
    left: 60px;
    margin-left:69px;
    line-height: 60px;
    white-space: nowrap;
    color: seashell;
    font-size: 47px;
    text-shadow: 1px 2px 3px black;
}



.identy{
    background-image: url("img/icons8-code-64.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 60px;
    height: 60px;
    cursor: pointer;
   
}


.menu{
    
    list-style-type: none;
    text-align: right;
    float: right;

    
    

}

.menu li{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    height: 60px;
}

.menu li a{
    font-family: "Letra-encabezado", "ubuntu" ,sans-serif;
    font-size: 30px;
    text-shadow: 1px 2px 3px black;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    height: 60px;
    line-height: 60px;
    padding: 8px 10px;
}

.menu li a:hover{
    text-shadow: 2px 4px 5px black;

}

.father-1-2{
    padding: 140px 30px 60px 30px;
    background-image: url("img/panel-1.jpg");
    background-size: cover;
    text-align: center;

    
}


.panel-1{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 65%;
  
    
}


.contentmain{
    padding: 40px;
    background-color: rgba(0,0,0,.8);
    color: blanchedalmond;
    border-radius: 8px;
    margin: 9px auto;
    width: 95%;
    box-sizing: border-box;
    box-shadow: 6px 10px 19px gray,-6px -6px 19px gray;

}

.contentmain #paragraphmain{
    margin-top: 24px;
}

.contentmain h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

.contentmain p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
}

#imgmain{

    width: 95%;
    display: block;
    margin: 9px auto;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 6px 10px 19px gray,-6px -6px 19px gray;
   
}




.panel-2{
    background-image: url("img/panel-2.jpg");
    border-radius: 50px 0px 50px 0px;
    box-shadow: 6px 10px 19px gray,-6px -6px 19px gray;
    background-size: cover;
    display: inline-block;
    width: 34%;

   
}



.jumbotron{

    width: max-content;
    height: max-content;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(213,213,213,0.6);
    

}


.panel-2 img{
    display: block;
    width: 200px;
    margin: 10px auto;

}

.panel-3{

    background:linear-gradient(45deg,rgba(0, 255, 98, .8),rgba(0, 100, 20, .8));
    padding: 120px 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    
}

.panel-3::before{
    content:"";
    background-image: url("img/divisor.png");
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: -100px;
    
}

.panel-3::after{
    content:"";
    background-image: url("img/divisor.png");
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    
}

.panel-3 p{
    color: blanchedalmond;
    font-size: 1.3em;
}
.panel-3 h2 {
    font-family: "Letra-encabezado", sans-serif;
    color: blanchedalmond;
    font-size: 50px;
    
}


#table{
    margin: 20px auto;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 0px 28px 0px 28px;
    border-collapse: collapse;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

#table th{
    font-family: "Letra-encabezado", sans-serif;
    font-size: 1.9em;
    padding: 2px;
}

#table td{
    padding: 7px;
    cursor: default;
    text-align: left;
}


#table tr:nth-child(even) {
    background-color: #6acc50;
    color: cornsilk;
}

#table tr:hover:not(#table > *:first-child){
    background-color: orange;
    color: white;
    
}

.table-padding{

    padding: 9px 10px;
}

#img-without-info{
    width: 45%;
    background-color: blanchedalmond;
    border-radius: 50%;
}

#divcredits{
    background-image: url(img/footer.jpg);
    background-attachment: fixed;
    padding: 150px;
    text-align: center;
    z-index: 0;
}


#credits{
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
    z-index: 9999;
    font-family: 'Changa One', sans-serif;
}

.visible{
    display: block !important;
}


/*RESPONSIVE CODE==========================================================*/

@media screen and (max-width:1000px){
    .nav h1{
        font-size: 40px;
    }

    .menu{
        width: 100%;
        display: none;
    }

    
    .toggle{
        visibility: visible;
    }
    .nav .menu li{
        display: block;
        text-align: center;
    }


    .panel-1{
        width: 100%;
        order: 2;
    }

    
    .panel-2{
        width: 100%;
        order: 1;
    }
 
    .contentmain{
        width:90%;
        max-width: none;
    }
    
    .contentmain #titlemain{
        font-size: 47px;
    }

    .contentmain #paragraphmain{
        font-size: 30px;
    }


    #imgmain{
        width: 90%;
        max-width: none;
    }

    .father-1-2{
        height: auto;
        
    }

    .jumbotron{
        transform: translateY(0);
    }



}




@media screen and (max-width:800px) {

    


    #imgmain{
        width: 100%;
    }


   .panel-2{
       width: 100%;
       height: auto;
   }

   #img-without-info{
       width: 80%;
   }

   .identy h1{
    font-size:2rem;
    }

    #titlemain{
        font-size: 1.8em!important;
    }

    #paragraphmain{
        font-size: 1.4em!important;
    }
   
    
    #table td{
        padding: 9px;
        font-size: 0.9rem;
    }

    

   
}


@media screen and (max-width:400px) {

    .jumbotron{
        width: 85%;
        margin: 12px auto;
    }

    #titlemain{
        font-size: 1.2em!important;
    }

    #paragraphmain{
        font-size: .9em!important;
    }

    .identy h1{
        font-size: 1.4em;
    }
    
    .panel-3 h2{
        font-size: 30px;
    }
    
}

